n8n_flows/1.Entry.json
{
  "name": "1.Entry",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-auth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://web.telegram.org"
        }
      },
      "id": "4dd65a00-921d-400e-9417-5e7610a3901d",
      "name": "Webhook (Check Auth)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1216,
        128
      ],
      "webhookId": "db96f536-8a9c-4447-826d-699de3f77a64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "tgUser",
              "value": "={{ JSON.parse(decodeURIComponent($json.body.tg_data.split('&').find(p => p.startsWith('user=')).split('=')[1])) }}",
              "type": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "4b3a301d-fe48-4a21-a6f8-8ee9ca36c0e3",
      "name": "Parse Telegram User Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc43b2f8-598e-4bec-b1ac-afd4f20524c9",
              "leftValue": "={{ $json.isFound }}",
              "rightValue": "=0",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        128
      ],
      "id": "09f50dfc-469e-4c75-b37d-de1a0aab7a6a",
      "name": "Is User Found?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"unauthenticated\",\n  \"message\": \"User not found.\"\n}",
        "options": {}
      },
      "id": "2650c5bd-2cdb-4a10-adf0-739fc574877b",
      "name": "Respond: Unauthenticated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -96,
        224
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"authenticated\",\n  \"message\": \"Добро пожаловать, {{ $json.name }}!\",\n  \"role\": \"{{ $json.role }}\"\n} ",
        "options": {}
      },
      "id": "07fe423f-0d58-42af-bb98-1adeaace1687",
      "name": "Respond: Authenticated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -96,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = items[0];\nconst hasKeys = Object.keys(item.json).length > 0;\nitem.json.isFound = hasKeys;\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        128
      ],
      "id": "9f6d605e-850a-449d-9668-06a13289d433",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "E7nMZ7genIH92ZCr",
          "mode": "list",
          "cachedResultName": "p_c_creds",
          "cachedResultUrl": "/projects/4RwVSO5KkraS5ZJk/datatables/E7nMZ7genIH92ZCr"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $json.tgUser.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -752,
        272
      ],
      "id": "97848be1-c560-40a1-a9b9-ccac4d0222b8",
      "name": "Find User by TG ID",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst input = $input.first();\nconst tgData = input.json.body?.tg_data || '';\nconst botToken = process.env.TELEGRAM_BOT_TOKEN || '';\n\nconst params = new URLSearchParams(tgData);\nconst hash = params.get('hash');\nparams.delete('hash');\n\nconst dataCheckString = Array.from(params.entries())\n  .sort(([a], [b]) => a.localeCompare(b))\n  .map(([k, v]) => `${k}=${v}`)\n  .join('\\n');\n\nconst secretKey = crypto.createHmac('sha256', 'WebAppData').update(botToken).digest();\nconst computedHash = crypto.createHmac('sha256', secretKey).update(dataCheckString).digest('hex');\n\nconst isValid = computedHash === hash;\nlet tgUser = {};\ntry {\n  tgUser = JSON.parse(decodeURIComponent(params.get('user') || '{}'));\n} catch(e) {}\n\nreturn [{ json: { ...input.json, isValid, tgUser }, binary: input.binary }];"
      },
      "id": "hmac-validate-1entry",
      "name": "Validate HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1430, -72]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hmac-cond-1entry",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "hmac-if-1entry",
      "name": "HMAC Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1630, -72]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\":\"Unauthorized\",\"message\":\"Invalid Telegram initData\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "hmac-401-1entry",
      "name": "Respond: 401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-1630, 88]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Check Auth)": {
      "main": [
        [
          {
            "node": "Validate HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC": {
      "main": [
        [
          {
            "node": "HMAC Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC Valid?": {
      "main": [
        [
          {
            "node": "Parse Telegram User Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: 401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram User Data": {
      "main": [
        [
          {
            "node": "Find User by TG ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is User Found?": {
      "main": [
        [
          {
            "node": "Respond: Authenticated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Unauthenticated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Is User Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User by TG ID": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "vIIqF2jFKw1HRIxE"
  },
  "versionId": "d963ad46-0ff3-4f61-8637-154430428efa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b18cbcf58fb3b99ae9e554a26140cda621cf694c314cd9a46d169d85bf1c93f4"
  },
  "id": "iFoaeM3FGF2XVaa3",
  "tags": [
    {
      "updatedAt": "2025-09-08T09:42:02.660Z",
      "createdAt": "2025-09-08T09:42:02.660Z",
      "id": "xnrYNGZNGf8yqvqc",
      "name": "payment_control"
    }
  ]
}