n8n_flows/2.Auth.json
{
  "name": "2.Auth",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://web.telegram.org"
        }
      },
      "id": "fc6976df-ebc2-49fc-ace5-73d6a91cf217",
      "name": "Webhook (Login)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -896,
        112
      ],
      "webhookId": "6556f2d4-e9a3-43ef-9833-6a120ef52efd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "tgUser",
              "value": "={{ JSON.parse(decodeURIComponent($json.body.tg_data.split('&').find(p => p.startsWith('user=')).split('=')[1])) }}",
              "type": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "3d34bf03-452a-4696-8a6d-79ff30b04336",
      "name": "Parse TG Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"authenticated\",\n  \"message\": \"Добро пожаловать, {{ $json.name }}!\",\n  \"role\": \"{{ $json.role }}\"\n}  ",
        "options": {}
      },
      "id": "5cd7f964-868a-452c-8a8a-3865a708b9b2",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        368,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"error\",\"message\":\"Invalid credentials\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "c7a82a4b-6d0f-494e-86f6-b64f90f60210",
      "name": "Respond: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -80,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst password = $('Webhook (Login)').item.json.body.password || '';\nitem.json.normalizedPassword = password.trim();\nreturn [$input.first()];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e644619f-dbc5-4647-ab8b-34ab1609b375",
              "leftValue": "={{ $('Webhook (Login)').item.json.body.login }}",
              "rightValue": "={{ $json.login }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7fddf7ed-6bc2-46b2-9bd5-7714575a1a32",
              "leftValue": "={{ $json.normalizedPassword }}",
              "rightValue": "={{ $json.pass }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d76fd30b-d72d-4c41-9547-c40930710b80",
              "leftValue": "={{ $json.is_active }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9d6a3110-63b2-4771-baf3-687e3534f33e",
      "name": "Are Credentials OK?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8749a8f-2d9e-48f2-ad9c-87dce797a65c",
              "name": "body.tg_data",
              "value": "={{ JSON.parse(decodeURIComponent($json.body.tg_data.split('&').find(p => p.startsWith('user=')).split('=')[1])).id }}",
              "type": "string"
            },
            {
              "id": "66e66f92-96da-4142-9782-ae5c1ad68986",
              "name": "body.login",
              "value": "={{ $json.body.login }}",
              "type": "string"
            },
            {
              "id": "512054d1-8d26-4889-b079-b575d8c6f955",
              "name": "body.password",
              "value": "={{ $json.body.password }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "acfcc9dc-7169-49be-ac11-269e21fe9e8c",
      "name": "Set Telegram User ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        112
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "E7nMZ7genIH92ZCr",
          "mode": "list",
          "cachedResultName": "p_c_creds",
          "cachedResultUrl": "/projects/4RwVSO5KkraS5ZJk/datatables/E7nMZ7genIH92ZCr"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "login",
              "keyValue": "={{ $json.body.login }}"
            },
            {
              "keyName": "pass",
              "keyValue": "={{ $json.body.password }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -528,
        240
      ],
      "id": "777945f7-7673-4913-ba9b-fda81df94f85",
      "name": "Find Login in Credentials"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "E7nMZ7genIH92ZCr",
          "mode": "list",
          "cachedResultName": "p_c_creds",
          "cachedResultUrl": "/projects/4RwVSO5KkraS5ZJk/datatables/E7nMZ7genIH92ZCr"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "login",
              "keyValue": "={{ $('Set Telegram User ID').item.json.body.login }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_active": true,
            "tg_id": "={{ $('Set Telegram User ID').item.json.body.tg_data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "login",
              "displayName": "login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pass",
              "displayName": "pass",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        144,
        112
      ],
      "id": "a593bde9-07af-4b5e-bf8b-e7434426e063",
      "name": "Update Creds: Mark as used"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst input = $input.first();\nconst tgData = input.json.body?.tg_data || '';\nconst botToken = process.env.TELEGRAM_BOT_TOKEN || '';\n\nconst params = new URLSearchParams(tgData);\nconst hash = params.get('hash');\nparams.delete('hash');\n\nconst dataCheckString = Array.from(params.entries())\n  .sort(([a], [b]) => a.localeCompare(b))\n  .map(([k, v]) => `${k}=${v}`)\n  .join('\\n');\n\nconst secretKey = crypto.createHmac('sha256', 'WebAppData').update(botToken).digest();\nconst computedHash = crypto.createHmac('sha256', secretKey).update(dataCheckString).digest('hex');\n\nconst isValid = computedHash === hash;\nlet tgUser = {};\ntry {\n  tgUser = JSON.parse(decodeURIComponent(params.get('user') || '{}'));\n} catch(e) {}\n\nreturn [{ json: { ...input.json, isValid, tgUser }, binary: input.binary }];"
      },
      "id": "hmac-validate-2auth",
      "name": "Validate HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1110, -88]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hmac-cond-2auth",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "hmac-if-2auth",
      "name": "HMAC Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1310, -88]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\":\"Unauthorized\",\"message\":\"Invalid Telegram initData\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "hmac-401-2auth",
      "name": "Respond: 401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-1310, 72]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Audit",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "tg_id": "={{ $('Validate HMAC').first().json.tgUser?.id || '' }}",
            "login": "={{ $('Webhook (Login)').first().json.body?.login || '' }}",
            "action": "login",
            "document_id": "",
            "decision": ""
          }
        },
        "options": {}
      },
      "id": "audit-login-2auth",
      "name": "Audit: Login",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [568, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q03GRbHkwG58L5LA",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Login)": {
      "main": [
        [
          {
            "node": "Validate HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC": {
      "main": [
        [
          {
            "node": "HMAC Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC Valid?": {
      "main": [
        [
          {
            "node": "Set Telegram User ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: 401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse TG Data": {
      "main": [
        [
          {
            "node": "Update Creds: Mark as used",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are Credentials OK?1": {
      "main": [
        [
          {
            "node": "Parse TG Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Telegram User ID": {
      "main": [
        [
          {
            "node": "Find Login in Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Login in Credentials": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Are Credentials OK?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Creds: Mark as used": {
      "main": [
        [
          {
            "node": "Audit: Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit: Login": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "vIIqF2jFKw1HRIxE"
  },
  "versionId": "d74ac97b-be86-4b81-89d2-178f641ca782",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b18cbcf58fb3b99ae9e554a26140cda621cf694c314cd9a46d169d85bf1c93f4"
  },
  "id": "YmWZ6P7iwobgKRqQ",
  "tags": [
    {
      "updatedAt": "2025-09-08T09:42:02.660Z",
      "createdAt": "2025-09-08T09:42:02.660Z",
      "id": "xnrYNGZNGf8yqvqc",
      "name": "payment_control"
    }
  ]
}