n8n_flows/4. Get invoices.json
{
  "name": "4. Get invoices",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-invoices",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://web.telegram.org"
        }
      },
      "id": "274fa793-8e13-4424-9bed-eb7dea490b9f",
      "name": "Webhook (Get Invoices)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        144
      ],
      "webhookId": "cfe6bdb4-536f-4ed8-8161-d0e9d4b8ff69"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "tgUser",
              "value": "={{ JSON.parse(decodeURIComponent($json.body.tg_data.split('&').find(p => p.startsWith('user=')).split('=')[1])) }}",
              "type": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "75b73711-b46c-431a-a64d-e0d3de68a11f",
      "name": "Parse Telegram User Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00b3ffb0-522a-413f-90ce-68ad6e5ec04b",
              "name": "name",
              "value": "={{ $json['19. invoice_name'] }}",
              "type": "string"
            },
            {
              "id": "a35f8eed-6dcc-4aa8-b0f3-2eeb2cd9b616",
              "name": "date",
              "value": "={{ $json['17. invoice_date: Дата счета'] }}",
              "type": "string"
            },
            {
              "id": "dbb14047-b794-4df2-9b32-234bd5983ac5",
              "name": "amount",
              "value": "={{ $json['13. total_amount: Итоговая сумма '] }}",
              "type": "number"
            },
            {
              "id": "e89d74b2-993d-4b7f-b909-f2e699d73a3c",
              "name": "Статус Дамели",
              "value": "={{ $json['Статус Дамели'] }}",
              "type": "string"
            },
            {
              "id": "1394d02f-fbca-4437-9ac5-b4c50ab47997",
              "name": "Статус Даурен Б",
              "value": "={{ $json['Статус Даурен Б'] }}",
              "type": "string"
            },
            {
              "id": "6b8033d5-8c7e-4b84-b566-7df64a9af755",
              "name": "Плательщик",
              "value": "={{ $json[\"Плательщик\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        112
      ],
      "id": "5f38fb30-00fd-4e3c-9073-8ba45db86809",
      "name": "Select Fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "1cfdb9a5-de6d-4eab-bfd2-45398099a2c8",
      "name": "Respond: Invoices List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        464,
        112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.role }}",
                    "rightValue": "user",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7ddaf757-4e92-4828-b98a-6b8d4b87486e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "user"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cedb85db-1c79-470f-b187-8145ff643742",
                    "leftValue": "={{ $json.role }}",
                    "rightValue": "admin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "admin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d96cece1-f2a6-403c-b964-8455d659343a",
                    "leftValue": "={{ $json.role }}",
                    "rightValue": "approver",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approver"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -288,
        128
      ],
      "id": "e191a6b4-358d-4d4f-abe3-55029c4bc06e",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q",
          "mode": "list",
          "cachedResultName": "PaymentControl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Данные счетов",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "автор записи",
              "lookupValue": "={{ $('Parse Telegram User Data').item.json.tgUser.last_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "29bd1a58-8d5d-4cec-a0ac-ec15b7669830",
      "name": "Get Invoices from Sheet_USERS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q03GRbHkwG58L5LA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q",
          "mode": "list",
          "cachedResultName": "PaymentControl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Данные счетов",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit#gid=0"
        },
        "options": {}
      },
      "id": "cded7852-64ce-4fb6-a3dd-0ad4bbaa2b7b",
      "name": "Get Invoices from Sheet_ALL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q03GRbHkwG58L5LA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "E7nMZ7genIH92ZCr",
          "mode": "list",
          "cachedResultName": "p_c_creds",
          "cachedResultUrl": "/projects/4RwVSO5KkraS5ZJk/datatables/E7nMZ7genIH92ZCr"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $json.tgUser.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -480,
        144
      ],
      "id": "6e53a854-4eb8-4234-ad86-dec65e91280b",
      "name": "Get role from Sheet"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst input = $input.first();\nconst tgData = input.json.body?.tg_data || '';\nconst botToken = process.env.TELEGRAM_BOT_TOKEN || '';\n\nconst params = new URLSearchParams(tgData);\nconst hash = params.get('hash');\nparams.delete('hash');\n\nconst dataCheckString = Array.from(params.entries())\n  .sort(([a], [b]) => a.localeCompare(b))\n  .map(([k, v]) => `${k}=${v}`)\n  .join('\\n');\n\nconst secretKey = crypto.createHmac('sha256', 'WebAppData').update(botToken).digest();\nconst computedHash = crypto.createHmac('sha256', secretKey).update(dataCheckString).digest('hex');\n\nconst isValid = computedHash === hash;\nlet tgUser = {};\ntry {\n  tgUser = JSON.parse(decodeURIComponent(params.get('user') || '{}'));\n} catch(e) {}\n\nreturn [{ json: { ...input.json, isValid, tgUser }, binary: input.binary }];"
      },
      "id": "hmac-validate-4getinv",
      "name": "Validate HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1094, -56]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hmac-cond-4getinv",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "hmac-if-4getinv",
      "name": "HMAC Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1294, -56]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\":\"Unauthorized\",\"message\":\"Invalid Telegram initData\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "hmac-401-4getinv",
      "name": "Respond: 401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-1294, 104]
    }
  ],
  "pinData": {
    "Webhook (Get Invoices)": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8n.eurasiantech.kz",
            "x-real-ip": "10.10.50.96",
            "x-forwarded-for": "10.10.50.96",
            "x-forwarded-proto": "https",
            "content-length": "600",
            "sec-ch-ua-platform": "\"Android\"",
            "user-agent": "Mozilla/5.0 (Linux; Android 16; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.35 Mobile Safari/537.36 Telegram-Android/12.2.10 (Google Pixel 8 Pro; Android 16; SDK 36; HIGH)",
            "sec-ch-ua": "\"Android WebView\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?1",
            "accept": "*/*",
            "origin": "https://tolk84.github.io",
            "x-requested-with": "org.telegram.messenger",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://tolk84.github.io/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "ru,ru-KZ;q=0.9,ru-RU;q=0.8,en-US;q=0.7,en;q=0.6"
          },
          "params": {},
          "query": {},
          "body": {
            "tg_data": "user=%7B%22id%22%3A6550379676%2C%22first_name%22%3A%22%F0%9F%A4%96%22%2C%22last_name%22%3A%22%D0%A2-800%22%2C%22language_code%22%3A%22ru%22%2C%22allows_write_to_pm%22%3Atrue%2C%22photo_url%22%3A%22https%3A%5C%2F%5C%2Ft.me%5C%2Fi%5C%2Fuserpic%5C%2F320%5C%2FxUYeQOn2AZkdXOOL24smE_xpcRVLJu7dWS_U8VmEXH2yq7sd3cmHCGlDGgdlOT8x.svg%22%7D&chat_instance=-3857668353577583482&chat_type=sender&auth_date=1766378494&signature=RwsJHIIuwQxcxU4tr5wLQQ-JjtwrhVwBR15n3Hh_Ua0Kj8zeF-3OXjWDCR6Wij4ZZQ6UjtMEDTXLsd24Hkp-DQ&hash=faff1169855b26b085bafaf43d30c20957f1fa2e10a92ac4aabfdde6996099f8",
            "period": "week"
          },
          "webhookUrl": "https://n8n.eurasiantech.kz/webhook/get-invoices",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook (Get Invoices)": {
      "main": [
        [
          {
            "node": "Validate HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC": {
      "main": [
        [
          {
            "node": "HMAC Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC Valid?": {
      "main": [
        [
          {
            "node": "Parse Telegram User Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: 401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram User Data": {
      "main": [
        [
          {
            "node": "Get role from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Fields": {
      "main": [
        [
          {
            "node": "Respond: Invoices List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Invoices from Sheet_USERS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Invoices from Sheet_ALL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Invoices from Sheet_ALL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoices from Sheet_USERS": {
      "main": [
        [
          {
            "node": "Select Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoices from Sheet_ALL": {
      "main": [
        [
          {
            "node": "Select Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get role from Sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "vIIqF2jFKw1HRIxE"
  },
  "versionId": "b77ba5b9-57d5-481b-96f7-499a380bcd3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b18cbcf58fb3b99ae9e554a26140cda621cf694c314cd9a46d169d85bf1c93f4"
  },
  "id": "qiNgANQq5ituw0Nz",
  "tags": [
    {
      "updatedAt": "2025-09-08T09:42:02.660Z",
      "createdAt": "2025-09-08T09:42:02.660Z",
      "id": "xnrYNGZNGf8yqvqc",
      "name": "payment_control"
    }
  ]
}