n8n_flows/5.1.to 1C.json
{
  "name": "5.1.to 1C",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q",
          "mode": "list",
          "cachedResultName": "PaymentControl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Данные счетов",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Статус Дамели",
            "Статус Даурен Б"
          ]
        }
      },
      "id": "8c1e3cc4-a6c6-4338-acf5-3ec38e312646",
      "name": "При обновлении статуса",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        16
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "AwATGd6foU4qrFts",
          "name": "Google Sheets Trigger account"
        }
      },
      "notes": "Проверяем наличие соответствия условиям"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "663d399c-7051-4f1d-9719-e4d7943f3885",
              "leftValue": "={{ $json['Статус Дамели'] }}",
              "rightValue": "Согласовано",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "92347279-001f-4f9d-b241-b58991880b2d",
              "leftValue": "={{ $json['Статус Даурен Б'] }}",
              "rightValue": "Согласовано",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "95a3ce99-e8d6-4380-a3f1-96afd255f84c",
              "leftValue": "={{ $json['статус документа'] }}",
              "rightValue": "создан",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "a727e5ac-6dad-4029-bc30-43a10425e45c",
              "leftValue": "={{ $json['Вид приобретения'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        16
      ],
      "id": "17e313a5-95d2-4466-976d-0671e022e8ad",
      "name": "Проверяем согласование"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ false }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "cc1b2656-e85a-44e0-b759-c06018e145ee",
      "name": "Цикл создания счетов"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "W7IWuGa4HoNuvxOm",
          "mode": "list",
          "cachedResultUrl": "/workflow/W7IWuGa4HoNuvxOm",
          "cachedResultName": "5.to 1C"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        96
      ],
      "id": "759d5107-5416-47e4-90c7-3ecaaae7f392",
      "name": "Call '5.to 1C'",
      "notesInFlow": true,
      "notes": "Сценарий 5.to 1C"
    }
  ],
  "pinData": {},
  "connections": {
    "При обновлении статуса": {
      "main": [
        [
          {
            "node": "Проверяем согласование",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем согласование": {
      "main": [
        [
          {
            "node": "Цикл создания счетов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Цикл создания счетов": {
      "main": [
        [],
        [
          {
            "node": "Call '5.to 1C'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '5.to 1C'": {
      "main": [
        [
          {
            "node": "Цикл создания счетов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4aab7fc2-d4b4-4e7e-bfe9-41f67c88e113",
  "meta": {
    "instanceId": "b18cbcf58fb3b99ae9e554a26140cda621cf694c314cd9a46d169d85bf1c93f4"
  },
  "id": "a1LCAm0UzOsrwX6v",
  "tags": []
}