n8n_flows/5.to 1C.json
{
  "name": "5.to 1C",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q",
          "mode": "list",
          "cachedResultName": "PaymentControl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Согласование",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id_from_table }}",
            "статус документа": "создан"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Статус Дамели",
              "displayName": "Статус Дамели",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Комментарий Дамели",
              "displayName": "Комментарий Дамели",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Статус Даурен Б",
              "displayName": "Статус Даурен Б",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Комментарий Даурен Б",
              "displayName": "Комментарий Даурен Б",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Плательщик",
              "displayName": "Плательщик",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "18. invoice_name",
              "displayName": "18. invoice_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "12. total_amount: Итоговая сумма ",
              "displayName": "12. total_amount: Итоговая сумма ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Вид приобретения",
              "displayName": "Вид приобретения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "автор записи",
              "displayName": "автор записи",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Комментарий автора",
              "displayName": "Комментарий автора",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "дата записи",
              "displayName": "дата записи",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "1. vendor_bin: БИН поставщика",
              "displayName": "1. vendor_bin: БИН поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "2. vendor_name: Название организации поставщика",
              "displayName": "2. vendor_name: Название организации поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "3. vendor_iik: ИИК поставщика",
              "displayName": "3. vendor_iik: ИИК поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "4. vendor_bik: БИК поставщика",
              "displayName": "4. vendor_bik: БИК поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "5. vendor_knp: КНП поставщика",
              "displayName": "5. vendor_knp: КНП поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "6. vendor_kbe: КБЕ поставщика",
              "displayName": "6. vendor_kbe: КБЕ поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "7. vendor_city: Юр.адрес город поставщика",
              "displayName": "7. vendor_city: Юр.адрес город поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "8. vendor_street: Юр.адрес улица поставщика",
              "displayName": "8. vendor_street: Юр.адрес улица поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "9. customer_bin: БИН покупателя",
              "displayName": "9. customer_bin: БИН покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "10. customer_name: Название организации покупателя",
              "displayName": "10. customer_name: Название организации покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "11. contract: Номер и дата договора",
              "displayName": "11. contract: Номер и дата договора",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "13. vat_amount: Сумма НДС ",
              "displayName": "13. vat_amount: Сумма НДС ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "14. currency: Валюта счета ",
              "displayName": "14. currency: Валюта счета ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "15. invoice_number: Номер счета на оплату",
              "displayName": "15. invoice_number: Номер счета на оплату",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "16. invoice_date: Дата счета ",
              "displayName": "16. invoice_date: Дата счета ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "17. table_data: Все строки из табличной части счета ",
              "displayName": "17. table_data: Все строки из табличной части счета ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "статус документа",
              "displayName": "статус документа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8861c5cc-eb13-4606-8d66-8ae517998565",
      "name": "Отметка о выгрузке в 1С",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        5680,
        112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q03GRbHkwG58L5LA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"baseUrl\"].json.baseUrl }}/odata/standard.odata/Catalog_БанковскиеСчета",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Charset",
              "value": "UTF-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (function() {\n  const wf = $('When Executed by Another Workflow').item.json;\n  const banks = JSON.parse($('banks_dict').first().json['banks_dict']);\n  const bik = (wf['4. vendor_bik: БИК поставщика'] || '').toString().trim();\n  const bankInfo = banks.banks_dict[bik] || { name: '', guid: '' };\n  const iik = (wf['3. vendor_iik: ИИК поставщика'] || '').toString().trim();\n  const contragent = $('Сложная фильтрация').item.json;\n  return JSON.stringify({\n    Description: iik + ' в ' + bankInfo.name,\n    'Банк_Key': bankInfo.guid,\n    'ВалютаДенежныхСредств_Key': 'b3b3297a-e627-11ec-a0ac-1c1bb55b5d00',\n    'ВидСчета': 'Расчетный',\n    'ДатаЗакрытия': '0001-01-01T00:00:00',\n    'ДатаОткрытия': '0001-01-01T00:00:00',\n    Owner: contragent.Ref_Key,\n    Owner_Type: 'StandardODATA.Catalog_Контрагенты',\n    'НомерСчета': iik\n  });\n})() }}",
        "options": {}
      },
      "id": "11777cbc-8a1e-4c5a-8413-47c2295bbf72",
      "name": "Add Account Number (Счет)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        416
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=={{\n  $json[\"Плательщик\"] === 'ЕТ' ? {\n    \"baseUrl\": \"https://srv4.generis.kz/B2B_Market_Copy/en_US/\",\n    \"Org_Key\": \"c9bbfd33-e627-11ec-a0ac-1c1bb55b5d00\",\n    \"group_goods\": \"0d2bf31-832a-11f0-abd4-c4346bc821e0\",\n    \"group_services\": \"178f7a0b-832a-11f0-abd4-c4346bc821e0\",\n    \"group_os\": \"GUID_os_ET\",\n    \"Ref_ВидНоменклатуры_товар\": \"bb3a096d-e627-11ec-a0ac-1c1bb55b5d00\",\n    \"Ref_СтавкаНДС_безНДС\": \"b3b32948-e627-11ec-a0ac-1c1bb55b5d00\",\n    \"Ref_СтавкаНДС_12\":    \"b3b32949-e627-11ec-a0ac-1c1bb55b5d00\",\n    \"N_income\": $json.N_income,\n    \"bin\": $json.bin\n  } :\n  $json[\"Плательщик\"] === 'ЕТТ' ? {\n    \"baseUrl\": \"https://srv4.generis.kz/B2B_Market_Copy/en_US/\",\n    \"Org_Key\": \"c9bbfd33-e627-11ec-a0ac-1c1bb55b5d00\",\n    \"group_goods\": \"0d2bf31-832a-11f0-abd4-c4346bc821e0\",\n    \"group_services\": \"178f7a0b-832a-11f0-abd4-c4346bc821e0\",\n    \"group_os\": \"GUID_os_ETT\",\n    \"Ref_ВидНоменклатуры_товар\": \"bb3a096d-e627-11ec-a0ac-1c1bb55b5d00\",\n    \"Ref_СтавкаНДС_безНДС\": \"b3b32948-e627-11ec-a0ac-1c1bb55b5d00\",\n    \"Ref_СтавкаНДС_12\":    \"b3b32949-e627-11ec-a0ac-1c1bb55b5d00\",\n    \"N_income\": $json.N_income,\n    \"bin\": $json.bin\n  } : {\n    \"baseUrl\": \"https://srv4.generis.kz/B2B_Market_Copy/en_US/\",\n    \"Org_Key\": \"c9bbfd33-e627-11ec-a0ac-1c1bb55b5d00\",\n    \"group_goods\": \"0d2bf31-832a-11f0-abd4-c4346bc821e0\",\n    \"group_services\": \"178f7a0b-832a-11f0-abd4-c4346bc821e0\",\n    \"group_os\": \"GUID_os_B2B\",\n    \"Ref_ВидНоменклатуры_товар\": \"bb3a096d-e627-11ec-a0ac-1c1bb55b5d00\",\n\"Ref_СтавкаНДС_безНДС\": \"b3b32948-e627-11ec-a0ac-1c1bb55b5d00\",\n    \"Ref_СтавкаНДС_12\":    \"b3b32949-e627-11ec-a0ac-1c1bb55b5d00\",\n    \"N_income\": $json.N_income,\n    \"bin\": $json.bin\n  }\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -32
      ],
      "id": "e540009b-3d27-4e01-a2c4-3dd7bb86a9ee",
      "name": "baseUrl",
      "notesInFlow": true,
      "notes": "Выбираем базовые аргументы\n"
    },
    {
      "parameters": {
        "chatId": "=6550379676",
        "text": "=Счет  {{ $('Достаем из буфера').item.json.name }} на сумму {{ $('Достаем из буфера').item.json.sum }} успешно выгружен в 1С.",
        "additionalFields": {}
      },
      "id": "bfbcc85b-8c17-4c54-b979-cfc7b4d11074",
      "name": "Уведомление Бухгалтеру",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        5920,
        112
      ],
      "webhookId": "e32ee75b-2719-4cd4-a86c-e2f51985cd23",
      "credentials": {
        "telegramApi": {
          "id": "QwraIhnNBNn8v35N",
          "name": "payment_control"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a064bb2a-e76f-4226-bfe6-30d12a7738e4",
              "name": "banks_dict",
              "value": "{\n  \"banks_dict\": {\n    \"NFBAKZ23\": {\n      \"guid\": \"e322d2e0-6055-11ef-aaa7-c640515fe4b0\",\n      \"name\": \"Development Bank of Kazakhstan\"\n    },\n    \"ATYNKZKA\": {\n      \"guid\": \"e28f8559-cf94-11ed-a0f2-80e82c3145f8\",\n      \"name\": \"Altyn Bank\"\n    },\n    \"ZAJSKZ22\": {\n      \"guid\": \"45e49971-66fb-11f0-abaa-c4346bc821e0\",\n      \"name\": \"Zaman-Bank\"\n    },\n    \"KINCKZKA\": {\n      \"guid\": \"87dd39d1-5b4a-11ed-a0ce-1c1bb55b5cfd\",\n      \"name\": \"Bank RBK\"\n    },\n    \"CITIKZKA\": {\n      \"guid\": \"d3c3e643-7df8-11ee-b0c0-005056018e36\",\n      \"name\": \"Citibank Kazakhstan\"\n    },\n    \"BRKEKZKA\": {\n      \"guid\": \"424a50ab-dab7-11ed-a0f6-80e82c3145f8\",\n      \"name\": \"Bereke Bank\"\n    },\n    \"IRTYKZKA\": {\n      \"guid\": \"c68d6a7a-c4bf-11ed-a0f0-80e82c3145f8\",\n      \"name\": \"ForteBank\"\n    },\n    \"INLMKZKA\": {\n      \"guid\": \"b8479825-5959-11ef-aaa6-c640515fe4b0\",\n      \"name\": \"Home Credit Bank Kazakhstan\"\n    },\n    \"CASPKZKA\": {\n      \"guid\": \"c9bbfd49-e627-11ec-a0ac-1c1bb55b5d00\",\n      \"name\": \"Kaspi Bank\"\n    },\n    \"KSNVKZKA\": {\n      \"guid\": \"25d8bb2b-4003-11ee-bc4b-005056018e36\",\n      \"name\": \"Freedom Bank\"\n    },\n    \"KCJBKZKX\": {\n      \"guid\": \"c9bbfd4d-e627-11ec-a0ac-1c1bb55b5d00\",\n      \"name\": \"Bank CenterCredit\"\n    },\n    \"HCSKKZKA\": {\n      \"guid\": \"c9bbfd4b-e627-11ec-a0ac-1c1bb55b5d00\",\n      \"name\": \"Otbasy Bank\"\n    },\n    \"KPSTKZKA\": {\n      \"guid\": \"0cbf3cd8-5844-11ee-bc4b-005056018e36\",\n      \"name\": \"Kassa Nova Bank\"\n    },\n    \"HSBKKZKX\": {\n      \"guid\": \"c9bbfd4c-e627-11ec-a0ac-1c1bb55b5d00\",\n      \"name\": \"Halyk Bank\"\n    },\n    \"NURSKZKX\": {\n      \"guid\": \"c9bbfd4e-e627-11ec-a0ac-1c1bb55b5d00\",\n      \"name\": \"Nurbank\"\n    },\n    \"TSESKZKA\": {\n      \"guid\": \"23aab281-cd23-11ed-a0f0-80e82c3145f8\",\n      \"name\": \"Jusan Bank\"\n    },\n    \"EURIKZKA\": {\n      \"guid\": \"85c73db6-e7d7-11ec-a0af-80e82c3145f8\",\n      \"name\": \"Eurasian Bank\"\n    },\n    \"SABRKZKA\": {\n      \"guid\": \"a9ec8d43-70c7-11ef-aaa8-c640515fe4b0\",\n      \"name\": \"First Heartland Jusan Securities (ex-Sberbank Kazakhstan)\"\n    },\n    \"GCVPKZ2A\": {\n      \"guid\": \"c9bbfd4a-e627-11ec-a0ac-1c1bb55b5d00\",\n      \"name\": \"Jýsan Garant (ex-Zhilstroisberbank Insurance)\"\n    },\n    \"KKMFKZ2A\": {\n      \"guid\": \"3539dc78-13a8-11ed-a0c0-1c1bb55b5d00\",\n      \"name\": \"Kazakhstan Mortgage Company\"\n    }\n  }\n}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        416
      ],
      "id": "34e508d1-d1cb-4efb-916a-a6d5391d17f7",
      "name": "banks_dict",
      "notesInFlow": true,
      "notes": "Справочник банков"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "03c2ddc3-68b3-48f0-8a00-b4d7617e748b",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json['Вид приобретения'] }}",
                    "rightValue": "ТМЗ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ТМЗ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json['Вид приобретения'] }}",
                    "rightValue": "Услуги",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dc017e1a-e643-47c2-b7d8-8dd10ad29df9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Услуги"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2c18aee2-891c-494f-a7b8-dfc2a847a3b0",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json['Вид приобретения'] }}",
                    "rightValue": "ОС",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ОС"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3120,
        160
      ],
      "id": "c44edadf-81cb-49ce-b631-8fbf554bd53f",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"baseUrl\"].json.baseUrl }}odata/standard.odata/Catalog_Контрагенты",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-Charset",
              "value": "UTF-8"
            },
            {
              "name": "User-Agent",
              "value": "Fiddler"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{\n  (function() {\n    const nodeName = \"When Executed by Another Workflow\";\n    const data = $items(nodeName)[0].json;\n    const vendorName = data[\"2. vendor_name: Название организации поставщика\"] || \"\";\n    const vendorBin = data[\"1. vendor_bin: БИН поставщика\"] || \"\";\n    const kbe = data[\"6. vendor_kbe: КБЕ поставщика\"];\n    const isIp = /ИП|Индивидуальный предприниматель/i.test(vendorName);\n    const typeIp = isIp ? \"ФизЛицо\" : \"ЮрЛицо\";\n\n    return JSON.stringify({\n      \"Description\": vendorName,\n      \"НаименованиеПолное\": vendorName,\n      \"ИдентификационныйКодЛичности\": vendorBin,\n      \"ЮрФизЛицо\": typeIp,\n      \"КБЕ\": kbe,\n      \"isFolder\": false,\n      \"DeletionMark\": false,\n      \"Parent_Key\": \"827ad04d-9e0a-11ed-a0e7-80e82c3145f8\",\n      \"ИндивидуальныйПредпринимательАдвокатЧастныйНотариус\": isIp\n    });\n  })()\n}}",
        "options": {}
      },
      "id": "0037c90e-c1df-49e5-bf16-e14b329b1202",
      "name": "Add Contragent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -320
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"baseUrl\"].json.baseUrl }}/odata/standard.odata/InformationRegister_КонтактнаяИнформация",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (function() {\n  const wf = $('When Executed by Another Workflow').item.json;\n  const city = (wf['7. vendor_city: Юр.адрес город поставщика'] || '').toString();\n  const street = (wf['8. vendor_street: Юр.адрес улица поставщика'] || '').toString();\n  return JSON.stringify({\n    'Объект': $('Add Contragent').item.json.Ref_Key,\n    'Объект_Type': 'StandardODATA.Catalog_Контрагенты',\n    'Тип': 'Адрес',\n    'Вид': 'b3b32978-e627-11ec-a0ac-1c1bb55b5d00',\n    'Вид_Type': 'StandardODATA.Catalog_ВидыКонтактнойИнформации',\n    'Представление': city + ', ' + street\n  });\n})() }}",
        "options": {}
      },
      "id": "5d8896b4-693f-4c7b-8465-75b7aed0ac97",
      "name": "Add Contact Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        -320
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('baseUrl').item.json.baseUrl }}odata/standard.odata/Catalog_Контрагенты?$format=json&$filter=ИдентификационныйКодЛичности eq '{{ $('When Executed by Another Workflow').item.json[\"1. vendor_bin: БИН поставщика\"] }}'",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "baae0346-2750-4284-a38d-c32582f33017",
      "name": "Get Contragent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -32
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $('When Executed by Another Workflow').item.json;\nconst raw = source['18. table_data: Все строки из табличной части счета'];\nconst rows = JSON.parse(raw);\n\n// справочник Ref_Key → Description\nconst units = [\n  { \"Ref_Key\": \"bb3a0961-e627-11ec-a0ac-1c1bb55b5d00\", \"Description\": \"кг\" },\n  { \"Ref_Key\": \"bb3a0962-e627-11ec-a0ac-1c1bb55b5d00\", \"Description\": \"шт\" },\n  { \"Ref_Key\": \"c9bbfd65-e627-11ec-a0ac-1c1bb55b5d00\", \"Description\": \"км\" },\n  { \"Ref_Key\": \"c9bbfd66-e627-11ec-a0ac-1c1bb55b5d00\", \"Description\": \"л\" },\n  { \"Ref_Key\": \"c9bbfd67-e627-11ec-a0ac-1c1bb55b5d00\", \"Description\": \"м\" },\n  { \"Ref_Key\": \"c9bbfd68-e627-11ec-a0ac-1c1bb55b5d00\", \"Description\": \"м2\" },\n  { \"Ref_Key\": \"c9bbfd69-e627-11ec-a0ac-1c1bb55b5d00\", \"Description\": \"м3\" },\n  { \"Ref_Key\": \"c9bbfd6a-e627-11ec-a0ac-1c1bb55b5d00\", \"Description\": \"т\" },\n  { \"Ref_Key\": \"c9bbfd6b-e627-11ec-a0ac-1c1bb55b5d00\", \"Description\": \"ч\" },\n  { \"Ref_Key\": \"c234b7fb-5fe7-11ed-a0d1-1c1bb55b5d00\", \"Description\": \"Услуга\" },\n  { \"Ref_Key\": \"5b9d931e-e4e1-11ed-a0f9-1c1bb55b5d00\", \"Description\": \"тг\" }\n];\n\nreturn rows.map(row => {\n  const unitText = row[\"units of measure\"];   // например: \"услуга\"\n  // ищем без учета регистра\n  const found = units.find(u => u.Description.toLowerCase() === unitText.toLowerCase());\n\n  return {\n    json: {\n      ...row,\n      unitRef_Key: found ? found.Ref_Key : null\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        176
      ],
      "id": "7c10f5da-82d7-428a-99a2-406a2d85c29c",
      "name": "Разделяем номеклатуру"
    },
    {
      "parameters": {
        "jsCode": "const outputItems = [];\n\nfor (const item of items) {\n  const inputItem = item.json;\n  const quantity = inputItem.quantity || 1;\n\n  const baseDescription = inputItem.description;\n  const totalSum = inputItem.sum || 0;\n  const pricePerUnit = totalSum / quantity;\n\n  if (quantity <= 1) {\n    outputItems.push({ json: inputItem });\n    continue;\n  }\n\n  for (let i = 1; i <= quantity; i++) {\n    const newItem = { ...inputItem };\n    newItem.description = `${baseDescription}`;\n    newItem.quantity = 1;\n    newItem.sum = pricePerUnit;\n    newItem.unit_price = pricePerUnit;\n\n    outputItems.push({ json: newItem });\n  }\n}\n\nreturn outputItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        560
      ],
      "id": "cd30b057-67c4-4d79-ad38-d7138e0d0f01",
      "name": "Разделяем по 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('baseUrl').first().json.baseUrl}}odata/standard.odata/Catalog_ОсновныеСредства",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Ref_Key\": \"00000000-0000-0000-0000-000000000000\",\n  \"DeletionMark\": false,\n  \"IsFolder\": false,\n  \"Description\": \"{{ $json.description }}\"\n}\n",
        "options": {}
      },
      "id": "57e3bc45-2cd4-4ca3-b2e8-76b94e6f6669",
      "name": "Add ОС1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4160,
        688
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"baseUrl\"].json.baseUrl }}odata/standard.odata/Document_СчетНаОплатуПоставщика",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.invoiceHeader }}",
        "options": {}
      },
      "id": "fb91d53b-989c-4c3b-97d0-a0968228616e",
      "name": "Create Invoice (Header)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        176
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4368,
        704
      ],
      "id": "20ed0c9e-ee0f-460c-8f45-5bd8b37ca6c9",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { 'ОС': rows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        544
      ],
      "id": "9b935fbf-a24a-48a1-a36b-f662091de3e3",
      "name": "Wrap ОС"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{\n  $('baseUrl').first().json.baseUrl.replace(/\\/?$/, '/') +\n  \"odata/standard.odata/Document_СчетНаОплатуПоставщика(guid'\" +\n  $('Create Invoice (Header)').first().json[\"Ref_Key\"] +\n  \"')\"\n}}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "68695ca5-b9d3-4ebc-b770-5d9b201efed4",
      "name": "Update Supplier Invoice (Lines)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4768,
        544
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{\n  $('baseUrl').first().json.baseUrl.replace(/\\/?$/, '/') +\n  \"odata/standard.odata/Document_СчетНаОплатуПоставщика(guid'\" +\n  $('Create Invoice (Header)').first().json[\"Ref_Key\"] +\n  \"')\"\n}}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "a04b8d77-18ed-4732-b09f-44b375297ea7",
      "name": "Update Supplier Invoice (Lines)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4896,
        -304
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"LineNumber\": {{ $itemIndex + 1 }},\n  \"ОсновноеСредство_Key\": \"{{ $json.Ref_Key }}\",\n  \"Содержание\": \"{{ $json.description }}\",\n  \"Сумма\": {{ (Number(String($json.quantity).replace(',', '.')) || 1) * (Number(String($json.unit_price).replace(',', '.')) || 0) }},\n  \"СтавкаНДС_Key\": \"{{ $('Собираем массив для шапки').item.json.vatKey }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4224,
        544
      ],
      "id": "9a42122a-f22a-46b5-b880-00194fe7ca84",
      "name": "Отбор полей + id"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((i, k) => ({ ...i.json, LineNumber: k + 1 }));\nreturn [{ json: { \"Товары\": rows } }];"
      },
      "id": "66053d13-26ad-47b4-af0e-7a286d3a085d",
      "name": "Wrap ТМЗ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4688,
        -304
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{\n  $('baseUrl').first().json.baseUrl.replace(/\\/?$/, '/') +\n  \"odata/standard.odata/Document_СчетНаОплатуПоставщика(guid'\" +\n  $('Create Invoice (Header)').first().json[\"Ref_Key\"] +\n  \"')\"\n}}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "d17e1d40-c6d6-4d17-80af-c862a612cba0",
      "name": "Update Supplier Invoice (Lines)2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4896,
        -48
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3984,
        560
      ],
      "id": "c3479fa5-1aae-40bc-9240-6a10a1037f06",
      "name": "Loop Over Items ОС"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((i, k) => ({ ...i.json, LineNumber: k + 1 }));\nreturn [{ json: { \"Услуги\": rows } }];"
      },
      "id": "005bf711-35e0-4265-8b89-bbaf7bf2d8ab",
      "name": "Wrap Услуги",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4688,
        -48
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json['Вид приобретения'] }}",
                    "rightValue": "ТМЗ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dc017e1a-e643-47c2-b7d8-8dd10ad29df9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ТМЗ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f02b5179-0685-436d-927d-08da61b3cc25",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json['Вид приобретения'] }}",
                    "rightValue": "Услуги",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Услуги"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4416,
        -288
      ],
      "id": "4583f49b-0a7b-49fa-bd47-3e41d94bb3a6",
      "name": "Switch1",
      "notesInFlow": true,
      "notes": "Выбираем тип приобретения\n"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "PX4I7kSYIcF19P75",
          "mode": "list",
          "cachedResultName": "6.to_1С_buffer",
          "cachedResultUrl": "/projects/4RwVSO5KkraS5ZJk/datatables/PX4I7kSYIcF19P75"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_from_table": "={{ $json.id }}",
            "name": "={{ $json['19. invoice_name'] }}",
            "sum": "={{ $json['13. total_amount: Итоговая сумма '] }}",
            "knp": "={{ $json['5. vendor_knp: КНП поставщика'] }}",
            "Date_income": "={{ $json['17. invoice_date: Дата счета'] }}",
            "N_income": "={{ $json['16. invoice_number: Номер счета на оплату'] }}",
            "contract": "={{ $json['11. contract: Номер договора'] }}",
            "contract_date": "={{ $json['12. contract: Дата договора'] }}",
            "vat": "={{ $json['14. vat_amount: Сумма НДС '] }}",
            "bin": "={{ $json[\"1. vendor_bin: БИН поставщика\"] }}"
          },
          "matchingColumns": [
            "id_from_table"
          ],
          "schema": [
            {
              "id": "id_from_table",
              "displayName": "id_from_table",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sum",
              "displayName": "sum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "knp",
              "displayName": "knp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contract",
              "displayName": "contract",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "N_income",
              "displayName": "N_income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date_income",
              "displayName": "Date_income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contract_date",
              "displayName": "contract_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "vat",
              "displayName": "vat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bin",
              "displayName": "bin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -32,
        -32
      ],
      "id": "97a2228d-93fd-47ae-96a1-0c715a4d224d",
      "name": "create_buffer"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "PX4I7kSYIcF19P75",
          "mode": "list",
          "cachedResultName": "5.to_1С_buffer",
          "cachedResultUrl": "/projects/4RwVSO5KkraS5ZJk/datatables/PX4I7kSYIcF19P75"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        5456,
        112
      ],
      "id": "88ac07c0-c6ca-44d0-b964-bc19c5218a10",
      "name": "Достаем из буфера"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "PX4I7kSYIcF19P75",
          "mode": "list",
          "cachedResultName": "5.to_1С_buffer",
          "cachedResultUrl": "/projects/4RwVSO5KkraS5ZJk/datatables/PX4I7kSYIcF19P75"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "id_from_table",
              "keyValue": "={{ $('Достаем из буфера').item.json.id_from_table }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        6336,
        112
      ],
      "id": "5de09717-f1ea-4087-8081-a54eb81d972c",
      "name": "Чистим буфер"
    },
    {
      "parameters": {
        "url": "={{ $('baseUrl').item.json.baseUrl }}odata/standard.odata/Catalog_Контрагенты(guid'{{ $json.Ref_Key }}')/ОсновнойБанковскийСчет?$select=НомерСчета",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "5b5ffe63-4dc4-4c08-88c6-9814caca52d8",
      "name": "Проверяем ИИК",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        224
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac9d03c4-9aa6-4b15-ba62-c2bb602663e1",
              "leftValue": "={{ $json.data }}",
              "rightValue": "=404.0 — Not found",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "5e31be73-48ae-4c0f-ac65-edd97869ba1c",
              "leftValue": "={{ $json['НомерСчета'] }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json['3. vendor_iik: ИИК поставщика'] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        224
      ],
      "id": "2acd072a-041a-419b-bc03-e4860d2a737a",
      "name": "ИИК корректный?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const buf = $('create_buffer').item.json || {};\nconst contractTextRaw = String(buf.contract ?? '').trim();\n\nfunction isNoContract(text) {\n  if (!text) return true;\n  let s = text\n    .toLowerCase()\n    .replace(/[«»\"“”'`]/g, '')\n    .replace(/[-–—]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  const exactBads = new Set(['без договора','нет договора','б/д','нет','—','-','— —','n/a','na']);\n  if (exactBads.has(s)) return true;\n  const patterns = [\n    /\\bбез\\s+догов[оа]ра\\b/,\n    /\\bнет\\s+догов[оа]ра\\b/,\n    /\\bдогов[оа]р\\s*не\\s*требуетс[яь]\\b/,\n    /\\bне\\s*заключ[её]н\\b/,\n    /\\bотсутствует\\b/,\n    /^б\\/д$/\n  ];\n  return patterns.some(rx => rx.test(s));\n}\n\nconst contractIsMissing = isNoContract(contractTextRaw);\nconst contractText = contractIsMissing ? '' : contractTextRaw;\n\nconst contrList = Array.isArray($json.value) ? $json.value : [];\nconst hasContragent = contrList.length > 0;\n\nconst MAIN_ZERO = '00000000-0000-0000-0000-000000000000';\n\nconst contragent = hasContragent ? contrList[0] : {};\n\nconst mainContractKey = hasContragent\n  ? (contragent['ОсновнойДоговорКонтрагента_Key'] ?? MAIN_ZERO)\n  : MAIN_ZERO;\n  \nconst contragentRefKey = contragent.Ref_Key || MAIN_ZERO;\n\nconst hasMainContract = hasContragent && mainContractKey !== MAIN_ZERO;\nconst hasContractText = contractText.length > 0;\n\nreturn [{\n  json: {\n    bin: $('baseUrl').first().json.bin,\n    n_income: $('baseUrl').first().json.N_income,\n    Ref_Key: contragentRefKey,\n    hasContragent,\n    needIikCheck: hasContragent,\n    needContractCompare: hasContragent && hasMainContract && hasContractText,\n    needContractCreateAsMain: hasContragent && !hasMainContract && hasContractText,\n    proceedWithoutContract: hasContragent && !hasContractText,\n    contractText,\n    mainContractKey: hasMainContract ? mainContractKey : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -32
      ],
      "id": "48730dfb-65a2-451e-8055-8cf1a8435b6c",
      "name": "Есть ли Контрагент?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f8165ad3-c645-4363-910e-57eb39a02679",
                    "leftValue": "={{ $json.hasContragent }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NO_CONTRAGENT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9bf95818-cf8d-4b6b-9bcd-d739018e1bcf",
                    "leftValue": "={{ $json.needContractCompare }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=COMPARE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9f92acbc-cc50-476a-9c5b-035085b44a3d",
                    "leftValue": "={{ $json.needContractCreateAsMain }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=CREATE_AS_MAIN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12196d71-2494-4620-ad5f-e709b4d0c292",
                    "leftValue": "={{ $json.needIikCheck }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=YES_CONTRAGENT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2d4e8605-63a2-4f08-ac16-569c57108a92",
                    "leftValue": "={{ $json.proceedWithoutContract }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WITHOUT_CONTRACT"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        816,
        -80
      ],
      "id": "95c5c95c-ad22-47d7-90df-6214e3458b59",
      "name": "Сложная фильтрация"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c8630bd6-eada-40cb-ac88-f6048091d08c",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1296,
        -64
      ],
      "id": "121fb657-077d-4584-8614-0910974cd0e5",
      "name": "If"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('baseUrl').item.json.baseUrl }}odata/standard.odata/Catalog_ДоговорыКонтрагентов(guid'{{ $json.Ref_Key }}')",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "Accept-Charset",
              "value": "UTF-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"Основной\": true } }}",
        "options": {}
      },
      "id": "86891c10-5308-4067-8974-138a3119e4a4",
      "name": "сделать договор основным",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        80
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('baseUrl').item.json.baseUrl }}odata/standard.odata/Catalog_БанковскиеСчета(guid'{{ $json.Ref_Key }}')",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "Accept-Charset",
              "value": "UTF-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"Основной\": true } }}",
        "options": {}
      },
      "id": "900d1174-6e25-46a4-92d4-59b83463f00f",
      "name": "сделать счет основным",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        416
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json }}",
        "options": {}
      },
      "id": "6450d9ff-4b35-4f09-9a8e-4fd0c9717add",
      "name": "Финиш — Договор",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        -80
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json }}",
        "options": {}
      },
      "id": "d6a55f3a-f98a-475a-bc41-4a4e38e8f3de",
      "name": "Финиш — Счёт/ИИК",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        272
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "091950fc-2667-4d79-8ef8-f65bfd0b5fcf",
      "name": "Объединение перед шапкой",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2016,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"baseUrl\"].json.baseUrl }}odata/standard.odata/Catalog_ДоговорыКонтрагентов",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "Accept-Charset",
              "value": "UTF-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Description\": \"{{ $('create_buffer').item.json.contract }}\",\n  \"Owner_Key\": \"{{ $('Add Contragent').isExecuted ? $('Add Contragent').item.json.Ref_Key : $json.value[0].Ref_Key }}\",\n  \"НомерДоговора\": \"{{ $('create_buffer').item.json.contract }}\",\n  \"ДатаДоговора\": \"{{ $('create_buffer').item.json.contract_date.slice(0,10) + 'T00:00:00' }}\"\n}\n",
        "options": {}
      },
      "id": "02009a2a-e816-4e3d-ae02-072476126d73",
      "name": "Add Contract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        80
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('baseUrl').item.json.baseUrl }}odata/standard.odata/Catalog_ДоговорыКонтрагентов?$format=json&$select=Ref_Key&$filter=Owner_Key eq guid'{{ $('Get Contragent').first().json.value[0].Ref_Key }}' and НомерДоговора eq '{{ $('create_buffer').first().json.contract }}'&$top=1\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "68907172-8145-4926-9963-e8572a687d7a",
      "name": "Get Contract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -64
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const approveList = $items('When Executed by Another Workflow');\nconst baseList = $items('baseUrl');\nconst bufList = $items('create_buffer');\n\nconst base = baseList[baseList.length - 1]?.json ?? {}; \nconst buf = bufList[$itemIndex]?.json ?? {}; \n\nfunction isExec(name){ try { return $(name).isExecuted; } catch { return false; } }\nfunction firstJson(name){ try { return $(name).first().json; } catch { return undefined; } }\n\nfunction isZeroLike(v) {\n  if (v === undefined || v === null) return true;\n  const s = String(v).trim();\n  if (!s) return true;\n  const num = Number(s.replace(',', '.'));\n  if (!Number.isFinite(num)) return true;\n  return num === 0;\n}\nconst vatZero = isZeroLike(buf.vat);\nconst vatKey = vatZero ? base?.['Ref_СтавкаНДС_безНДС'] : base?.['Ref_СтавкаНДС_12'];\nconst vatOn = !vatZero;\n\n// 1. Определение ключей контрагента и договора\nconst contractorKey = isExec('Add Contragent')\n  ? firstJson('Add Contragent')?.Ref_Key\n  : $json.Ref_Key;\n\nconst contractKey = isExec('Get Contract')\n  ? firstJson('Get Contract')?.Ref_Key\n  : (isExec('Add Contract') ? firstJson('Add Contract')?.Ref_Key : null);\n\n\n// 2. Композитный поиск данных счета в узле \"Проверяем согласование\"\nconst currentBin = $json.bin;\nconst currentInvoiceNumber = $json.n_income;\n\nconst invoiceNumberKey = '16. invoice_number: Номер счета на оплату';\nconst binKey = '1. vendor_bin: БИН поставщика';\n\nconst approveItem = approveList.find(item => \n    item.json[invoiceNumberKey] === currentInvoiceNumber &&\n    item.json[binKey] === currentBin\n);\n\nconst approve = approveItem?.json ?? {};\n\n\n// 3. Сборка финальной шапки\nconst invoiceHeader = {\n  Date: new Date().toISOString(),\n  Контрагент_Key: contractorKey,\n  ВалютаДокумента_Key: 'b3b3297a-e627-11ec-a0ac-1c1bb55b5d00',\n  Комментарий: String(approve['19. invoice_name'] ?? ''),\n  КодНазначенияПлатежа: String(approve['5. vendor_knp: КНП поставщика'] ?? ''),\n  НомерВходящегоДокумента: String(approve[invoiceNumberKey] ?? ''),\n  ДатаВходящегоДокумента: new Date(approve['17. invoice_date: Дата счета'] || Date.now()).toISOString(),\n  УчитыватьНДС: vatOn,\n  ...(contractKey ? { ДоговорКонтрагента_Key: contractKey } : {})\n};\n\nreturn [{ json: { ...$json, vatKey, vatOn, invoiceHeader } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        176
      ],
      "id": "d4aaab8e-287b-4db3-962f-1a279c0ea056",
      "name": "Собираем массив для шапки"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3760,
        -272
      ],
      "id": "8ee8fa34-6d47-4cb5-92f7-d931915ebf45",
      "name": "Loop Over"
    },
    {
      "parameters": {
        "url": "={{\n  $node[\"baseUrl\"].json.baseUrl +\n  \"odata/standard.odata/Catalog_Номенклатура?$format=json&$select=Ref_Key,Description&$top=1&$filter=Description eq '\" +\n  String($json.description).trim().replace(/'/g, \"''\") +\n  \"'\"\n}}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "f893ffe8-c4b4-4bd6-8f4a-058080af958f",
      "name": "Проверяем номенклатуру",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3792,
        -64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da319caa-422f-4e57-aaec-cf602df17882",
              "leftValue": "={{ $json.value }}",
              "rightValue": "=0",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3952,
        -64
      ],
      "id": "2e5959e9-5546-4c10-ab0a-bb3e39ed586f",
      "name": "Номенклатура есть в каталоге?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"baseUrl\"].json.baseUrl }}odata/standard.odata/Catalog_Номенклатура",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"DeletionMark\": false,\n  \"IsFolder\": false,\n  \"Description\": \"{{ $('Loop Over').item.json.description }}\"\n}",
        "options": {}
      },
      "id": "90169d16-b3c2-47aa-b2f1-4824bdb45c63",
      "name": "Add Номенклатуру",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4144,
        112
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f7lXuuPu6FGhgaHH",
          "name": "1С credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Номенклатура_Key\": \"{{ $json.value[0].Ref_Key }}\",\n  \"Содержание\": \"{{ $('Loop Over').item.json.description }}\",\n  \"Сумма\": {{ (Number($('Loop Over').item.json.sum))}},\n  \"СтавкаНДС_Key\": \"{{ $('Собираем массив для шапки').item.json.vatKey }}\",\n  \"Количество\": {{ Number(( $('Loop Over').item.json.quantity + '' ).replace(',', '.')) || 0 }},\n  \"ЕдиницаИзмерения_Key\": \"{{$('Loop Over').item.json.unitRef_Key}}\",\n  \"Цена\": {{ Number (( $('Loop Over').item.json.unit_price + '').replace (',', '.')) || 0 }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4176,
        -80
      ],
      "id": "5d855acd-9b32-4264-8f4c-0f139fc6d1c5",
      "name": "Компонуем",
      "notesInFlow": true,
      "notes": "Собираем айтем"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Номенклатура_Key\": \"{{$json.Ref_Key}}\",\n  \"Содержание\": \"{{ $json.Description }}\",\n  \"Сумма\": {{ (Number($('Loop Over').item.json.sum))}},\n  \"СтавкаНДС_Key\": \"{{ $('Собираем массив для шапки').item.json.vatKey }}\",\n  \"Количество\": {{ Number(( $('Loop Over').item.json.quantity + '' ).replace(',', '.')) || 0 }},\n  \"ЕдиницаИзмерения_Key\": \"{{$('Loop Over').item.json.unitRef_Key}}\",\n  \"Цена\": {{ Number (( $('Loop Over').item.json.unit_price + '').replace (',', '.')) || 0 }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4304,
        112
      ],
      "id": "a22f97ef-13ab-4662-89d5-0df4c69d7540",
      "name": "Компонуем1",
      "notesInFlow": true,
      "notes": "Собираем айтем"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        -32
      ],
      "id": "2a872019-ca94-4621-acce-f1a5c48499a3",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": 7,
          "Статус Дамели": "Согласовано",
          "Комментарий Дамели": "",
          "Статус Даурен Б": "Согласовано",
          "Комментарий Даурен Б": "",
          "Плательщик": "B2B",
          "19. invoice_name": "Изготовление картхолдера с подставкой",
          "13. total_amount: Итоговая сумма ": 109780,
          "Вид приобретения": "Услуги",
          "автор записи": "🤖 Т-800",
          "Комментарий автора": "",
          "дата записи": "2025-11-21",
          "1. vendor_bin: БИН поставщика": "120740011292",
          "2. vendor_name: Название организации поставщика": "Товарищество с ограниченной ответственностью \"NAIRA Group\"",
          "3. vendor_iik: ИИК поставщика": "KZ556017111000013739",
          "4. vendor_bik: БИК поставщика": "HSBKKZKX",
          "5. vendor_knp: КНП поставщика": "859",
          "6. vendor_kbe: КБЕ поставщика": "17",
          "7. vendor_city: Юр.адрес город поставщика": "г. Астана",
          "8. vendor_street: Юр.адрес улица поставщика": "шоссе Коргалжын, дом № 5, корпус НП-1",
          "9. customer_bin: БИН покупателя": "240440031042",
          "10. customer_name: Название организации покупателя": "Товарищество с ограниченной ответственностью \"B2B Market\"",
          "11. contract: Номер договора": "Без договора",
          "12. contract: Дата договора": "не указано",
          "14. vat_amount: Сумма НДС ": "",
          "15. currency: Валюта счета ": "KZT",
          "16. invoice_number: Номер счета на оплату": "132",
          "17. invoice_date: Дата счета": "2025-11-11",
          "18. table_data: Все строки из табличной части счета": "[{\"description\":\"Изготовление картхолдера с подставкой, черный с нанесением логотипа эко красками УФ печатью\",\"quantity\":22,\"units of measure\":\"услуга\",\"unit_price\":4990,\"sum\":109780}]",
          "статус документа": ""
        }
      }
    ]
  },
  "connections": {
    "Отметка о выгрузке в 1С": {
      "main": [
        [
          {
            "node": "Уведомление Бухгалтеру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Account Number (Счет)": {
      "main": [
        [
          {
            "node": "сделать счет основным",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baseUrl": {
      "main": [
        [
          {
            "node": "Get Contragent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "banks_dict": {
      "main": [
        [
          {
            "node": "Add Account Number (Счет)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Loop Over",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Разделяем по 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Contragent": {
      "main": [
        [
          {
            "node": "Add Contact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Contact Info": {
      "main": [
        [
          {
            "node": "Get Contragent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contragent": {
      "main": [
        [
          {
            "node": "Есть ли Контрагент?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разделяем номеклатуру": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разделяем по 1": {
      "main": [
        [
          {
            "node": "Loop Over Items ОС",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add ОС1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Invoice (Header)": {
      "main": [
        [
          {
            "node": "Разделяем номеклатуру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items ОС",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap ОС": {
      "main": [
        [
          {
            "node": "Update Supplier Invoice (Lines)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Supplier Invoice (Lines)": {
      "main": [
        [
          {
            "node": "Достаем из буфера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление Бухгалтеру": {
      "main": [
        [
          {
            "node": "Чистим буфер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Supplier Invoice (Lines)1": {
      "main": [
        [
          {
            "node": "Достаем из буфера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отбор полей + id": {
      "main": [
        [
          {
            "node": "Wrap ОС",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap ТМЗ": {
      "main": [
        [
          {
            "node": "Update Supplier Invoice (Lines)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items ОС": {
      "main": [
        [
          {
            "node": "Отбор полей + id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add ОС1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wrap Услуги": {
      "main": [
        [
          {
            "node": "Update Supplier Invoice (Lines)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Wrap ТМЗ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wrap Услуги",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Supplier Invoice (Lines)2": {
      "main": [
        [
          {
            "node": "Достаем из буфера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_buffer": {
      "main": [
        [
          {
            "node": "baseUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Достаем из буфера": {
      "main": [
        [
          {
            "node": "Отметка о выгрузке в 1С",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чистим буфер": {
      "main": [
        []
      ]
    },
    "Проверяем ИИК": {
      "main": [
        [
          {
            "node": "ИИК корректный?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ИИК корректный?": {
      "main": [
        [
          {
            "node": "Финиш — Счёт/ИИК",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "banks_dict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть ли Контрагент?": {
      "main": [
        [
          {
            "node": "Сложная фильтрация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сложная фильтрация": {
      "main": [
        [
          {
            "node": "Add Contragent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Contract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Contract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверяем ИИК",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Объединение перед шапкой",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Финиш — Договор",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сделать договор основным": {
      "main": [
        [
          {
            "node": "Финиш — Договор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сделать счет основным": {
      "main": [
        [
          {
            "node": "Финиш — Счёт/ИИК",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Финиш — Договор": {
      "main": [
        [
          {
            "node": "Объединение перед шапкой",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Финиш — Счёт/ИИК": {
      "main": [
        [
          {
            "node": "Объединение перед шапкой",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Объединение перед шапкой": {
      "main": [
        [
          {
            "node": "Собираем массив для шапки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Contract": {
      "main": [
        [
          {
            "node": "сделать договор основным",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contract": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Собираем массив для шапки": {
      "main": [
        [
          {
            "node": "Create Invoice (Header)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверяем номенклатуру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем номенклатуру": {
      "main": [
        [
          {
            "node": "Номенклатура есть в каталоге?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Номенклатура есть в каталоге?": {
      "main": [
        [
          {
            "node": "Компонуем",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Номенклатуру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Номенклатуру": {
      "main": [
        [
          {
            "node": "Компонуем1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Компонуем": {
      "main": [
        [
          {
            "node": "Loop Over",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Компонуем1": {
      "main": [
        [
          {
            "node": "Loop Over",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "create_buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "vIIqF2jFKw1HRIxE",
    "availableInMCP": false
  },
  "versionId": "4c32fdf0-dac8-4c86-b470-bc10fdfd8d10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b18cbcf58fb3b99ae9e554a26140cda621cf694c314cd9a46d169d85bf1c93f4"
  },
  "id": "W7IWuGa4HoNuvxOm",
  "tags": [
    {
      "updatedAt": "2025-09-08T09:42:02.660Z",
      "createdAt": "2025-09-08T09:42:02.660Z",
      "id": "xnrYNGZNGf8yqvqc",
      "name": "payment_control"
    }
  ]
}