n8n_flows/6. Approve.json
{
  "name": "6. Approve",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "tgUser",
              "value": "={{ JSON.parse(decodeURIComponent($json.body.tg_data.split('&').find(p => p.startsWith('user=')).split('=')[1])) }}",
              "type": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "26c4c761-68dd-4744-8d19-4f6a4058a6b0",
      "name": "Parse Telegram User Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00b3ffb0-522a-413f-90ce-68ad6e5ec04b",
              "name": "name",
              "value": "={{ $json['18. invoice_name'] }}",
              "type": "string"
            },
            {
              "id": "a35f8eed-6dcc-4aa8-b0f3-2eeb2cd9b616",
              "name": "date",
              "value": "={{ $json['16. invoice_date: Дата счета '] }}",
              "type": "string"
            },
            {
              "id": "dbb14047-b794-4df2-9b32-234bd5983ac5",
              "name": "amount",
              "value": "={{ $json['12. total_amount: Итоговая сумма '] }}",
              "type": "number"
            },
            {
              "id": "e89d74b2-993d-4b7f-b909-f2e699d73a3c",
              "name": "Статус Дамели",
              "value": "={{ $json['Статус Дамели'] }}",
              "type": "string"
            },
            {
              "id": "1394d02f-fbca-4437-9ac5-b4c50ab47997",
              "name": "Статус Даурен Б",
              "value": "={{ $json['Статус Даурен Б'] }}",
              "type": "string"
            },
            {
              "id": "6b8033d5-8c7e-4b84-b566-7df64a9af755",
              "name": "Плательщик",
              "value": "={{ $json[\"Плательщик\"] }}",
              "type": "string"
            },
            {
              "id": "ecb23db7-483f-4c4c-a66f-06294025926a",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        96
      ],
      "id": "04bd9a34-a164-44a6-bc25-69178b08e3ea",
      "name": "Select Fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "89c47547-9e2c-4fa8-b806-230236b46601",
      "name": "Respond: Invoices List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "Дамели",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c1d3a1f3-defc-41f4-9def-e994a7cbb86b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Дамели"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4c1297f-c83c-4bec-a38d-3b5b429046f9",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "Даурен Б",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Даурен Б"
            }
          ]
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        96
      ],
      "id": "6cf9cb01-f4f4-4cce-a1ee-aa689ebb1157",
      "name": "Switch"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-pending-invoices",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://web.telegram.org"
        }
      },
      "id": "0e438c1c-c8f7-4701-a0ac-35eb91595423",
      "name": "Webhook (Get pending Invoices)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -816,
        96
      ],
      "webhookId": "cfe6bdb4-536f-4ed8-8161-d0e9d4b8ff69"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q",
          "mode": "list",
          "cachedResultName": "PaymentControl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Данные счетов",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Статус Дамели"
            }
          ]
        },
        "options": {}
      },
      "id": "7f100ac3-4fcc-4db2-b8ee-fbdf8e7529a4",
      "name": "Get Invoices from Sheet_ALL1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q03GRbHkwG58L5LA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q",
          "mode": "list",
          "cachedResultName": "PaymentControl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Данные счетов",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Статус Даурен Б"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "id": "b8bf8331-488c-4fc8-9c00-7bb0498e3e70",
      "name": "Get Invoices from Sheet_ALL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q03GRbHkwG58L5LA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1cf40354-cb4e-4a40-90f5-63c4d968b18c",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        96
      ],
      "id": "1c58cdd4-313a-4e3c-8532-b07e1d28db38",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Нет счетов на согласование",
        "options": {}
      },
      "id": "7ce68b60-c5f1-4a05-a6d3-42484ba2a59c",
      "name": "Respond: Invoices List1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        160
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "E7nMZ7genIH92ZCr",
          "mode": "list",
          "cachedResultName": "p_c_creds",
          "cachedResultUrl": "/projects/4RwVSO5KkraS5ZJk/datatables/E7nMZ7genIH92ZCr"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $json.tgUser.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -416,
        208
      ],
      "id": "23a2d620-d428-4f45-916c-1fefae77ab69",
      "name": "Get name from Sheet"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst input = $input.first();\nconst tgData = input.json.body?.tg_data || '';\nconst botToken = process.env.TELEGRAM_BOT_TOKEN || '';\n\nconst params = new URLSearchParams(tgData);\nconst hash = params.get('hash');\nparams.delete('hash');\n\nconst dataCheckString = Array.from(params.entries())\n  .sort(([a], [b]) => a.localeCompare(b))\n  .map(([k, v]) => `${k}=${v}`)\n  .join('\\n');\n\nconst secretKey = crypto.createHmac('sha256', 'WebAppData').update(botToken).digest();\nconst computedHash = crypto.createHmac('sha256', secretKey).update(dataCheckString).digest('hex');\n\nconst isValid = computedHash === hash;\nlet tgUser = {};\ntry {\n  tgUser = JSON.parse(decodeURIComponent(params.get('user') || '{}'));\n} catch(e) {}\n\nreturn [{ json: { ...input.json, isValid, tgUser }, binary: input.binary }];"
      },
      "id": "hmac-validate-6approve",
      "name": "Validate HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1030, -104]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hmac-cond-6approve",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "hmac-if-6approve",
      "name": "HMAC Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1230, -104]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\":\"Unauthorized\",\"message\":\"Invalid Telegram initData\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "hmac-401-6approve",
      "name": "Respond: 401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-1230, 56]
    }
  ],
  "pinData": {},
  "connections": {
    "Parse Telegram User Data": {
      "main": [
        [
          {
            "node": "Get name from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Invoices from Sheet_ALL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Invoices from Sheet_ALL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Get pending Invoices)": {
      "main": [
        [
          {
            "node": "Validate HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC": {
      "main": [
        [
          {
            "node": "HMAC Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC Valid?": {
      "main": [
        [
          {
            "node": "Parse Telegram User Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: 401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoices from Sheet_ALL1": {
      "main": [
        [
          {
            "node": "Select Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoices from Sheet_ALL": {
      "main": [
        [
          {
            "node": "Select Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond: Invoices List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Invoices List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get name from Sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "vIIqF2jFKw1HRIxE"
  },
  "versionId": "3464c21b-a957-45d5-85b4-7dde2e3abb4f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b18cbcf58fb3b99ae9e554a26140cda621cf694c314cd9a46d169d85bf1c93f4"
  },
  "id": "VHVaQmAPyjMitt64",
  "tags": [
    {
      "updatedAt": "2025-09-08T09:42:02.660Z",
      "createdAt": "2025-09-08T09:42:02.660Z",
      "id": "xnrYNGZNGf8yqvqc",
      "name": "payment_control"
    }
  ]
}