n8n_flows/7. Upload approve.json
{
  "name": "7. Upload approve",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-decision",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://web.telegram.org"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        368
      ],
      "id": "1c7afab9-0952-429e-96b3-3d73425ea927",
      "name": "Webhook",
      "webhookId": "0b18241e-461b-4c6f-a57d-52a695ede7a7"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q",
          "mode": "list",
          "cachedResultName": "PaymentControl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Данные счетов",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Статус Дамели": "={{ $('Webhook').item.json.body.decision }}",
            "id": "={{ $json.id }}",
            "Комментарий Дамели": "={{ $('Webhook').item.json.body.comment }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Статус Дамели",
              "displayName": "Статус Дамели",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Комментарий Дамели",
              "displayName": "Комментарий Дамели",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Статус Даурен Б",
              "displayName": "Статус Даурен Б",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Комментарий Даурен Б",
              "displayName": "Комментарий Даурен Б",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Плательщик",
              "displayName": "Плательщик",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "18. invoice_name",
              "displayName": "18. invoice_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "12. total_amount: Итоговая сумма ",
              "displayName": "12. total_amount: Итоговая сумма ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "автор записи",
              "displayName": "автор записи",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Комментарий автора",
              "displayName": "Комментарий автора",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "дата записи",
              "displayName": "дата записи",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "1. vendor_bin: БИН поставщика",
              "displayName": "1. vendor_bin: БИН поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "2. vendor_name: Название организации поставщика",
              "displayName": "2. vendor_name: Название организации поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "3. vendor_iik: ИИК поставщика",
              "displayName": "3. vendor_iik: ИИК поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "4. vendor_bik: БИК поставщика",
              "displayName": "4. vendor_bik: БИК поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "5. vendor_knp: КНП поставщика",
              "displayName": "5. vendor_knp: КНП поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "6. vendor_kbe: КБЕ поставщика",
              "displayName": "6. vendor_kbe: КБЕ поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "7. vendor_city: Юр.адрес город поставщика",
              "displayName": "7. vendor_city: Юр.адрес город поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "8. vendor_street: Юр.адрес улица поставщика",
              "displayName": "8. vendor_street: Юр.адрес улица поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "9. customer_bin: БИН покупателя",
              "displayName": "9. customer_bin: БИН покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "10. customer_name: Название организации покупателя",
              "displayName": "10. customer_name: Название организации покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "11. contract: Номер и дата договора",
              "displayName": "11. contract: Номер и дата договора",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "13. vat_amount: Сумма НДС ",
              "displayName": "13. vat_amount: Сумма НДС ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "14. currency: Валюта счета ",
              "displayName": "14. currency: Валюта счета ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "15. invoice_number: Номер счета на оплату",
              "displayName": "15. invoice_number: Номер счета на оплату",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "16. invoice_date: Дата счета ",
              "displayName": "16. invoice_date: Дата счета ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "17. table_data: Все строки из табличной части счета ",
              "displayName": "17. table_data: Все строки из табличной части счета ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "статус документа",
              "displayName": "статус документа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4b337146-d0bd-4b01-becb-d3148a775710",
      "name": "Запись в Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        400,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q03GRbHkwG58L5LA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        368
      ],
      "id": "c1e45dae-c762-44f7-9c53-89da21c21171",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "tgUser",
              "value": "={{ JSON.parse(decodeURIComponent($json.body.tg_data.split('&').find(p => p.startsWith('user=')).split('=')[1])) }}",
              "type": "json",
              "id": "e43d65e3-0472-49a2-8701-1de8ba83df9f"
            },
            {
              "id": "5b7db58d-ca66-4842-9867-7d67cd866796",
              "name": "body.document_id",
              "value": "={{ $json.body.document_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "d91020b8-f34c-4c20-a9a2-179284127293",
      "name": "Parse Telegram User Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        368
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8247a32f-4183-4672-b8b5-d525fdd8f83e",
                    "leftValue": "={{ $json.approver_slot }}",
                    "rightValue": "Дамели",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Дамели"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d6161c6-d3d9-42c3-aff9-737bc4f4675f",
                    "leftValue": "={{ $json.approver_slot }}",
                    "rightValue": "Даурен",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Даурен"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        192,
        384
      ],
      "id": "b0c22b57-3f16-4097-9004-1580321cff40",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        384
      ],
      "id": "7345d3b9-5865-4302-a72e-ac613180f394",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ea26453-0527-4c9a-91aa-d5b87c1d105c",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "b0357003-5805-4041-b8fc-a7efc2f4057c",
              "name": "id",
              "value": "={{ $json.body.document_id }}",
              "type": "string"
            },
            {
              "id": "e1f2a3b4-c5d6-7890-fabc-345678901235",
              "name": "is_approver",
              "value": "={{ $json.is_approver }}",
              "type": "boolean"
            },
            {
              "id": "f2a3b4c5-d6e7-8901-abcd-456789012346",
              "name": "approver_slot",
              "value": "={{ $json.approver_slot }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        384
      ],
      "id": "de24afce-8c83-4fd5-9261-37078998c0e9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q",
          "mode": "list",
          "cachedResultName": "PaymentControl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Данные счетов",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Статус Даурен Б": "{{ $('Webhook').item.json.body.decision }}",
            "Комментарий Даурен Б": "{{ $('Webhook').item.json.body.comment }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Статус Дамели",
              "displayName": "Статус Дамели",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Комментарий Дамели",
              "displayName": "Комментарий Дамели",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Статус Даурен Б",
              "displayName": "Статус Даурен Б",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Комментарий Даурен Б",
              "displayName": "Комментарий Даурен Б",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Плательщик",
              "displayName": "Плательщик",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "18. invoice_name",
              "displayName": "18. invoice_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "12. total_amount: Итоговая сумма ",
              "displayName": "12. total_amount: Итоговая сумма ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "автор записи",
              "displayName": "автор записи",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Комментарий автора",
              "displayName": "Комментарий автора",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "дата записи",
              "displayName": "дата записи",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "1. vendor_bin: БИН поставщика",
              "displayName": "1. vendor_bin: БИН поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "2. vendor_name: Название организации поставщика",
              "displayName": "2. vendor_name: Название организации поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "3. vendor_iik: ИИК поставщика",
              "displayName": "3. vendor_iik: ИИК поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "4. vendor_bik: БИК поставщика",
              "displayName": "4. vendor_bik: БИК поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "5. vendor_knp: КНП поставщика",
              "displayName": "5. vendor_knp: КНП поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "6. vendor_kbe: КБЕ поставщика",
              "displayName": "6. vendor_kbe: КБЕ поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "7. vendor_city: Юр.адрес город поставщика",
              "displayName": "7. vendor_city: Юр.адрес город поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "8. vendor_street: Юр.адрес улица поставщика",
              "displayName": "8. vendor_street: Юр.адрес улица поставщика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "9. customer_bin: БИН покупателя",
              "displayName": "9. customer_bin: БИН покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "10. customer_name: Название организации покупателя",
              "displayName": "10. customer_name: Название организации покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "11. contract: Номер и дата договора",
              "displayName": "11. contract: Номер и дата договора",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "13. vat_amount: Сумма НДС ",
              "displayName": "13. vat_amount: Сумма НДС ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "14. currency: Валюта счета ",
              "displayName": "14. currency: Валюта счета ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "15. invoice_number: Номер счета на оплату",
              "displayName": "15. invoice_number: Номер счета на оплату",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "16. invoice_date: Дата счета ",
              "displayName": "16. invoice_date: Дата счета ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "17. table_data: Все строки из табличной части счета ",
              "displayName": "17. table_data: Все строки из табличной части счета ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "статус документа",
              "displayName": "статус документа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bbf86eda-21fc-4874-9fa5-d65fd4885f38",
      "name": "Запись в Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        400,
        496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q03GRbHkwG58L5LA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "E7nMZ7genIH92ZCr",
          "mode": "list",
          "cachedResultName": "p_c_creds",
          "cachedResultUrl": "/projects/4RwVSO5KkraS5ZJk/datatables/E7nMZ7genIH92ZCr"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_id",
              "keyValue": "={{ $json.tgUser.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -336,
        512
      ],
      "id": "b05af048-ec34-47a4-af3a-b046c9fa8d3e",
      "name": "Get role from Sheet1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-is-approver",
              "leftValue": "={{ $json.is_approver }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-defa-123456789013",
      "name": "Is Approver?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        640
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\":\"Forbidden\",\"message\":\"You do not have approver permissions\"}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "d4e5f6a7-b8c9-0123-efab-234567890124",
      "name": "Respond: 403 Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        224,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst input = $input.first();\nconst tgData = input.json.body?.tg_data || '';\nconst botToken = process.env.TELEGRAM_BOT_TOKEN || '';\n\nconst params = new URLSearchParams(tgData);\nconst hash = params.get('hash');\nparams.delete('hash');\n\nconst dataCheckString = Array.from(params.entries())\n  .sort(([a], [b]) => a.localeCompare(b))\n  .map(([k, v]) => `${k}=${v}`)\n  .join('\\n');\n\nconst secretKey = crypto.createHmac('sha256', 'WebAppData').update(botToken).digest();\nconst computedHash = crypto.createHmac('sha256', secretKey).update(dataCheckString).digest('hex');\n\nconst isValid = computedHash === hash;\nlet tgUser = {};\ntry {\n  tgUser = JSON.parse(decodeURIComponent(params.get('user') || '{}'));\n} catch(e) {}\n\nreturn [{ json: { ...input.json, isValid, tgUser }, binary: input.binary }];"
      },
      "id": "hmac-validate-7uapprove",
      "name": "Validate HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-966, 168]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hmac-cond-7uapprove",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "hmac-if-7uapprove",
      "name": "HMAC Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1166, 168]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\":\"Unauthorized\",\"message\":\"Invalid Telegram initData\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "hmac-401-7uapprove",
      "name": "Respond: 401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-1166, 328]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GkpFQ275xwCdeKTZ1BaWDL7PVD4L_lz-PyjRDmp4z8Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Audit",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "tg_id": "={{ $('Validate HMAC').first().json.tgUser?.id || '' }}",
            "login": "",
            "action": "decision",
            "document_id": "={{ $('Webhook').first().json.body?.document_id || '' }}",
            "decision": "={{ $('Webhook').first().json.body?.decision || '' }}"
          }
        },
        "options": {}
      },
      "id": "audit-decision-7uapprove",
      "name": "Audit: Decision",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [432, 368],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q03GRbHkwG58L5LA",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC": {
      "main": [
        [
          {
            "node": "HMAC Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC Valid?": {
      "main": [
        [
          {
            "node": "Parse Telegram User Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: 401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись в Google Sheets": {
      "main": [
        [
          {
            "node": "Audit: Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit: Decision": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram User Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get role from Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Запись в Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Запись в Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Is Approver?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approver?": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: 403 Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись в Google Sheets2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get role from Sheet1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "vIIqF2jFKw1HRIxE"
  },
  "versionId": "76882d66-a9e3-4df9-a520-14c70f9f8b2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b18cbcf58fb3b99ae9e554a26140cda621cf694c314cd9a46d169d85bf1c93f4"
  },
  "id": "enl7C57BegTB6U7e",
  "tags": [
    {
      "updatedAt": "2025-09-08T09:42:02.660Z",
      "createdAt": "2025-09-08T09:42:02.660Z",
      "id": "xnrYNGZNGf8yqvqc",
      "name": "payment_control"
    }
  ]
}