n8n_flows/error_paymentcontrol.json
{
  "name": "error_paymentcontrol",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c5794e08-ab37-422e-bb7c-1e3a06ebc305",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "=default",
        "chatId": "=77777094380@c.us",
        "text": "=❌ Ошибка в воркфлоу: {{ $json.workflow.name }}\n🕐 {{ new Date($json.execution.error.timestamp).toISOString() }}\n⚠️ {{ $json.execution.error.message }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        224,
        -128
      ],
      "id": "f95305df-0672-4ecf-aa0e-14091e9b13b5",
      "name": "Send a text message",
      "alwaysOutputData": false,
      "credentials": {
        "wahaApi": {
          "id": "sisah4HGHTtmH7oF",
          "name": "WAHA account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "6550379676",
        "text": "test",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "568cafcc-71a9-436b-a01d-6356cd139438",
      "name": "Send a text message1",
      "webhookId": "73fcf865-da73-48e6-bcf5-cdb36c206409",
      "credentials": {
        "telegramApi": {
          "id": "8rf4asrvs43NJMRM",
          "name": "tech_support_n8n_bot"
        }
      }
    }
  ],
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "2566",
            "url": "https://n8n.eurasiantech.kz/workflow/Xi63At56Ttz51kpn/executions/2566",
            "error": {
              "level": "warning",
              "tags": {},
              "description": "Request failed with status code 422",
              "timestamp": 1769317227536,
              "context": {
                "data": {
                  "error": "Session status is not as expected. Try again later or restart the session",
                  "session": "default",
                  "status": "STOPPED",
                  "expected": [
                    "WORKING"
                  ]
                },
                "itemIndex": 0,
                "runIndex": 0
              },
              "functionality": "regular",
              "name": "NodeApiError",
              "node": {
                "parameters": {
                  "resource": "Groups",
                  "operation": "Add Participants",
                  "session": "=default",
                  "id": "120363398119666279@g.us",
                  "participants": "=[\n  {\n    \"id\": \"{{ $json.phone }}@c.us\"\n  }\n]",
                  "requestOptions": {}
                },
                "type": "@devlikeapro/n8n-nodes-waha.WAHA",
                "typeVersion": 202502,
                "position": [
                  16,
                  608
                ],
                "id": "f3d50eb9-fba3-4dc7-9fed-f454b1e191cf",
                "name": "Add participants",
                "credentials": {
                  "wahaApi": {
                    "id": "sisah4HGHTtmH7oF",
                    "name": "WAHA account"
                  }
                }
              },
              "messages": [
                "Request failed with status code 422"
              ],
              "httpCode": "422",
              "message": "Your request is invalid or could not be processed by the service",
              "stack": "NodeApiError: Your request is invalid or could not be processed by the service\n    at ExecuteSingleContext.httpRequestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1391:9)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at ExecuteSingleContext.httpRequestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1763:11)\n    at RoutingNode.rawRoutingRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/routing-node.ts:531:20)\n    at RoutingNode.makeRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/routing-node.ts:725:19)\n    at async Promise.allSettled (index 0)\n    at RoutingNode.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/routing-node.ts:234:29)\n    at ExecuteContext.versionedNodeType.execute (/usr/local/lib/node_modules/n8n/src/node-types.ts:60:18)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:11)"
            },
            "lastNodeExecuted": "Add participants",
            "mode": "trigger",
            "executionContext": {
              "version": 1,
              "establishedAt": 1769317219040,
              "source": "trigger"
            }
          },
          "workflow": {
            "id": "Xi63At56Ttz51kpn",
            "name": "Birthdays"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "38ce605c-378c-41e4-a038-8b0b173cd940",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b18cbcf58fb3b99ae9e554a26140cda621cf694c314cd9a46d169d85bf1c93f4"
  },
  "id": "vIIqF2jFKw1HRIxE",
  "tags": []
}