n8n_flows/validateInitData.json
{
  "name": "validateInitData",
  "nodes": [
    {
      "parameters": {},
      "id": "e5f6a7b8-c9d0-1234-bcde-567890123456",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst tgData = $input.first().json.tg_data || '';\nconst botToken = process.env.TELEGRAM_BOT_TOKEN || '';\n\nconst params = new URLSearchParams(tgData);\nconst hash = params.get('hash');\nparams.delete('hash');\n\nconst dataCheckString = Array.from(params.entries())\n  .sort(([a], [b]) => a.localeCompare(b))\n  .map(([k, v]) => `${k}=${v}`)\n  .join('\\n');\n\nconst secretKey = crypto.createHmac('sha256', 'WebAppData').update(botToken).digest();\nconst computedHash = crypto.createHmac('sha256', secretKey).update(dataCheckString).digest('hex');\n\nconst isValid = computedHash === hash;\nlet tgUser = {};\ntry {\n  tgUser = JSON.parse(decodeURIComponent(params.get('user') || '{}'));\n} catch(e) {}\n\nreturn [{ json: { isValid, tgUser, hash, computedHash } }];"
      },
      "id": "f6a7b8c9-d0e1-2345-cdef-678901234567",
      "name": "Validate HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hmac-is-valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-defa-789012345678",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\":\"Unauthorized\",\"message\":\"Invalid Telegram initData\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "b8c9d0e1-f2a3-4567-efab-890123456789",
      "name": "Respond: 401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -16,
        448
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out-tguser",
              "name": "tgUser",
              "value": "={{ $json.tgUser }}",
              "type": "object"
            },
            {
              "id": "out-isvalid",
              "name": "isValid",
              "value": "={{ $json.isValid }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-5678-fabc-901234567890",
      "name": "Output Valid User",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Output Valid User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: 401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b18cbcf58fb3b99ae9e554a26140cda621cf694c314cd9a46d169d85bf1c93f4"
  },
  "tags": [
    {
      "id": "xnrYNGZNGf8yqvqc",
      "name": "payment_control"
    }
  ]
}
